html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    border-bottom: 1px solid #757575;
}

.game {
    text-align: center;
}

.totalAmount {
    text-align: center;
    font-size: 50px;
    padding-top: 20px;
}

#click {
    font-size: 100px;
    border: 1px solid #757575;
    /* padding: 30px 20px; */
    line-height: 200px;
    width: 200px;
    height: 200px;
    border-radius: 10000px;
    margin: 0 auto 20px auto;
    /* position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%); */
    user-select: none;
}

.generators ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
}

.generators li {
    /* border: 1px solid #757575; */
    box-shadow: 2px 2px 10px -2px #75757540;
    min-width: 250px;
    padding: 12px;
    text-align: center;
    margin: 20px;
    user-select: none;
}

.generators li .title {
    font-size: 24px;
    margin-right: 20px;
}

.generators li p {
    font-size: 20px;
}

.generators li hr {
    margin-top: 15px;
    border: 1px solid #757575;
}

.upgrades {
    border: 1px solid #757575;
    overflow: scroll;
    height: 200px;
}

.upgrade {
    margin: 10px 0;
    user-select: none;
}

.clickUpgrades {
    display: grid;
    grid-template: 'click upgrade';
    max-width: 500px;
    margin: 0 auto;
}

.inUpgrades {
    overflow: scroll;
    height: 147px;
    margin-top: -9px;
}

.upgrades h3 {
    font-size: 30px;
    margin: 10px 0 0 0;
}

.upgrades h6 {
    font-size: 20px;
    margin: 5px;
}

@media screen and (max-width: 500px) {

    .clickUpgrades {
        grid-template: 'click'
            'upgrade';
    }
}

.left {
    float: left;
}

.right {
    float: right;
}